Repository rfguimaraes/template-sandbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, ruff, black, mypy

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  additional_dependencies:
  - pre-commit-hooks

ruff:
  name: ruff
  entry: poetry run ruff check --force-exclude
  language: system
  require_serial: true

black:
  name: black
  entry: poetry run black
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --no-strict-optional
  - --ignore-missing-imports

Update roadmap
  README.md
Due: none

Add initial setup for CI/CD
  README.md
  docker-compose.yml
  frp.ini
  haproxy.cfg
Due: check-yaml

Tentative local CI setup (WIP)
  .drone.yml
  .gitignore
  README.md
  createtunnel.sh
  docker-compose.yml
  frp.ini
  haproxy.cfg
Due: check-yaml

Change port to 8082
  createtunnel.sh
  docker-compose.yml
Due: check-yaml

Update roadmap in the README
  README.md
Due: none

Move from drone to woodpecker (WIP)
  .woodpecker.yml
  README.md
  docker-compose.yml
Due: check-yaml

Rewrite following the tutorial (WIP)
  .woodpecker.yml
Due: check-yaml

Fix typo
  .woodpecker.yml
Due: check-yaml

Join CI steps
  .woodpecker.yml
Due: check-yaml

Update README
  README.md
Due: none

Remove codecov from the plans
  README.md
Due: none

Change plan: Release Drafter -> towncrier
  README.md
Due: none

Setup towncrier
  CHANGELOG.md
  README.md
  changelog.d/changelog_template.jinja
  noxfile.py
  poetry.lock
  pyproject.toml
  towncrier.toml
Due: ruff, black, mypy

Fix python package name in towncrier's config
  towncrier.toml
Due: none

Add first piece of towncrier news
  changelog.d/+usetowncriertomanagethechangelog.added.md
Due: none

Get python package version from pyproject.toml
  changelog.d/+determineversionfrompyroject.added.md
  src/template_sandbox/__init__.py
Due: ruff, black, mypy

Add extra steps in the roadmap
  README.md
Due: none

Fix typo in the README
  README.md
Due: none

Fix writing in the README
  README.md
Due: none

Set version to 0.0.1-alpha.1
  pyproject.toml
Due: none

Publish on TestPyPI on release
  .woodpecker.yml
  docker-compose.yml
Due: check-yaml

Associate publish with tags and main branch
  .woodpecker.yml
Due: check-yaml

Setup TestPyPI and adjust docker-compose.yml
  .woodpecker.yml
  docker-compose.yml
Due: check-yaml

Change tag pattern for publishing trigger
  .woodpecker.yml
Due: check-yaml

Bulk license news pieces (Fix #2)
  .reuse/dep5
  changelog.d/+determineversionfrompyroject.added.md
  changelog.d/+usetowncriertomanagethechangelog.added.md
Due: none

Add more filters to woodpecker publish task
  .woodpecker.yml
Due: check-yaml

Add new out-of-the-box pre-commit hooks
  .pre-commit-config.yaml
  README.md
  changelog.d/1.addthreenewcommithooks.added.md
  pyproject.toml
Due: check-yaml

Fix version and issue links in towncrier (Fix #8)
  towncrier.toml
Due: none

Add pylint and fix pre-commit
  .pre-commit-config.yaml
  README.md
  docs/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-yaml, ruff, black, mypy

Bump version and add missing news
  changelog.d/7.added.md
  changelog.d/8.fixed.md
  pyproject.toml
Due: none

Rename news piece
  changelog.d/1.added.md
Due: none

Allow towncrier to silently delete news fragments
  noxfile.py
Due: ruff, black, mypy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$
